# Hanpy Dojo 20200117 問題
- 自分の解きたいものだけ解いてもらってよいです
- わからない場合、ググってもらえばよいですが、答えを直接探すのは自分のためになりません

# 問題➊-1

文字列 "HanpyDojoatSpookies" を作成し、その文字列を逆から表示しましょう。

# 問題➊-2

➊で作成した文字列を使い、前から奇数にある文字列と、偶数にある文字列を作成しましょう。

# 問題➋-1

0～30までの数値が入ったリストを作成しましょう。

# 問題➋－2
➋で作成したリストから、奇数のみのリストを作成しましょう。

# 問題➌-1

stringモジュールのascii_lettersを用いて、4文字のランダムな文字列を作成しましょう。

# 問題➌-2
ランダムな文字列を作る関数を作成してください。長さは引数で変更できるようにしましょう。

# 問題➌-3

➌-1の文字列を100個作成して、文字列の頭文字をキー、文字列を値に持つ辞書を作成してください

# 問題➍　3と5の倍数
http://odz.sakura.ne.jp/projecteuler/     
10未満の自然数のうち, 3 もしくは 5 の倍数になっているものは 3, 5, 6, 9 の4つがあり, これらの合計は 23 になる.

同じようにして, 1000 未満の 3 か 5 の倍数になっている数字の合計を求めよ.

# 問題➎  
http://odz.sakura.ne.jp/projecteuler/     
13195 の素因数は 5, 7, 13, 29 である.

600851475143 の素因数のうち最大のものを求めよ.

# 問題➏
http://odz.sakura.ne.jp/projecteuler/     
フィボナッチ数列の項は前の2つの項の和である. 最初の2項を 1, 2 とすれば, 最初の10項は以下の通りである.

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
数列の項の値が400万以下の, 偶数値の項の総和を求めよ.

# 問題➐-1
assetsフォルダに画像が2つあります。読み込んで表示してください。     
次に、画像のデータの形を表示してください。     
     
画像の読み込みに使えるライブラリは以下のようにたくさんあります。
- Pillow https://pillow.readthedocs.io/en/stable/
- opencv https://pypi.org/project/opencv-python/
- scikit image https://scikit-image.org/

# 問題➐-2
読み込んだ画像を緑、青、赤のみで表示してください。    
画像は先ほど見たように縦×横×色のデータになっています。     
      
それができたら画像をグレースケールにしてください。以下の式に当てはめるとグレースケール化できます。        
Y = 0.2126R + 0.7152G + 0.0722B

# 問題➑-1


夏のオリンピックCSVデータがassetフォルダにあります。    
pandasのread_csvメソッドで読み込めます。    
     
データのサイズも確認しましょう。

In [62]:
import pandas as pd

In [65]:
df = pd.read_csv("assets/olympic_summer_medalist.csv", index_col=0)

In [67]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,Finland

# 問題➑-2
     
これまでの日本の金メダリスト数を可視化しましょう。     
可視化ツールには以下のものがあります。     
matplotlib : 言わずと知れた　https://matplotlib.org/    
seaborn : matplotlibのラッパ https://seaborn.pydata.org/
plotly : インタラクティブ https://plot.ly/python/
plotly.express : plotlyのラッパ https://plot.ly/python/plotly-express/

# 問題➐
DNAにコードされる遺伝情報は4つの文字（G,A,T,C）の並びで表されます。
この文字のことを塩基と呼び、DNA文字列のことをDNA塩基配列と呼びます。
塩基配列の長さは塩基数（単位： bp）で表記する習わしです。
メートル単位で、km = 1000 m とする様に、DNAの長さも 1 kbp = 1000 bpと表記します。
DNAの物質としての性質を決める因子としてGC含有率があります。
これは塩基配列内の「C」または「G」が占める割合によって与えられます。

例：「AGCTATAG」のGCコンテンツは37.5％です。

DNA配列をtextファイルに記載して、データベースに収載するときにIDを付ける必要があります。
一般に使用されるID付き書式は、FASTA形式と呼ばれます。
この書式では、１行目に「>」で始まるID文字列、後続の行には、DNA配列自体が含まれます。
DNA配列は改行を含んでも含まなくてもOKです。

例：(" \ " は無視して下さい）
\> NM_6404
CCTGCGGAAGATCGGCACTAGAATAGCCAGAACCGTTTCTCTGAGGCTTCCGGCCTTCCC
TCCCACTAATAATTCTGAGG
\> NM_6404
CCTGCGGAAGATCGGCACTAGAATAGCCAGAACCGTTTCTCTGAGGCTTCCGGCCTTCCC
TCCCACTAATAATTCTGAGG
\> NM_5959
CCATCGGTAGCGCATCCTTAGTCCAATTAAGTCCCTATCCAGGCGCTCCGCCGAAGGTCT
ATATCCATTTGTCAGCAGACACGC

上記の様に、複数の配列を続けて記載した場合を、multi-FASTA形式と呼ぶこともあります。

１）最大10個のG,A,T,Cのランダムな配列を作成し、それをDNA配列とみなして、
適当なID名を付けたmulti-FASTA形式ファイルを作成してください（長さはそれぞれ最大1 kbpとします）。
２）1)のファイルを元に、GC含有率が最も高い塩基配列のIDとその配列のGC含有率、配列の長さを返り値とするコードを書いてください。

# 問題➑
https://atcoder.jp/contests/abc081/tasks/abc081_b
    
【問題概要】
黒板に N 個の正の整数 A1,A2…,,…,AN が書かれています。
すぬけ君は，黒板に書かれている整数がすべて偶数であるとき，次の操作を行うことができます。

黒板に書かれている整数すべてを，2 で割ったものに置き換える。
すぬけ君は最大で何回操作を行うことができるかを求めてください。

【制約】

1≤N≤200
1≤Ai≤10^9
【数値例】
1)
　N=3
　A=(16,12,24)
　答え: 2
1 回操作を行うと (8, 6, 12) になります。2 回操作を行うと (4, 3, 6) になります。2 個目の 3 が奇数なため 3 回目の操作は行えません。